html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.Settings .MenuItem {
  text-align: left;
  font-size: small;
  width: 80%;
  max-width: 500px;
  margin: auto;
  height: 20%;
  cursor: default;
}

.Settings {
  width: 100%;
  height: 100vh;
}

.ConfigScreen {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #2b2e38;
  transition: visibility 0.2s, opacity 0.2s, transform 0.2s;
  overflow:hidden;
}

.ConfigButton {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #3c404a;
  border-radius: 5px;
}

.ConfigButton:hover {
  background-color: #4f535e;
}

.ConfigButton img {
  position: relative;
  top: 5px;
}
  
.MenuItem input {
  width: 90%;
  max-width: 100px;
}

.MenuItem select {
  width: 90%;
  max-width: 100px;
}

.ThresholdSlider .MuiSlider-track {
  height: 4px;
  border: none;
  background-color: #73bd32;
}

.ThresholdSlider .MuiSlider-root:hover {
  cursor: default;
}


.ThresholdSlider .MuiSlider-rail {
  opacity: 100%;
  background-color: #bd9008;
}

.ThresholdSlider .MuiSlider-thumb {
  width: 10px;
  height: 20px;
  border: none;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: none;
}

.ThresholdSlider .MuiSlider-thumb:before {
  display: none;
}

.ThresholdSlider .MuiSlider-thumb:hover {
  box-shadow: none;
  background-color: #c8c8c8;
}

.ThresholdSlider .MuiSlider-thumb:focus {
  box-shadow: none;
  background-color: #c8c8c8;
}

.ThresholdSlider .MuiSlider-thumb.Mui-active {
  box-shadow: none;
  background-color: #c8c8c8;
}

.ThresholdSlider .MuiSlider-thumb.Mui-focusVisible {
  box-shadow: none;
}