html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.SettingsScreen .MenuItem {
  text-align: left;
  font-size: small;
  width: 80%;
  max-width: 500px;
  margin: auto;
  height: 20%;
  cursor: default;
}

.SettingsScreen {
  width: 100%;
  height: 100vh;
  transition: visibility 0.2s, opacity 0.2s, transform 0.2s;
}

.SettingsScreen.hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
}

.Config {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #2b2e38;
  transition: visibility 0.2s, opacity 0.2s, transform 0.2s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(1.2);
}

.Config .MenuItem {
  text-align: left;
  font-size: small;
  width: 80%;
  max-width: 500px;
  margin: auto;
  height: 20%;
  cursor: default;
}

.ConfigButton {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #3c404a;
  border-radius: 5px;
}

.ConfigButton:hover {
  background-color: #4f535e;
}

.ConfigButton img {
  position: absolute;
  right: 5px;
  top: 5px;
  transform: rotate(0deg);
  rotate: -180deg;
  transition: transform 0.4s, opacity 0.2s;
  transition-delay: rotate 0.2s;
}

.ConfigButton img.hide {
  transform: rotate(-180deg);
  rotate: 0deg;
  opacity: 0%;
  transition: rotate 0.4s, opacity 0.2s;
  transition-delay: transform 0.2s;
}

.MenuItem select {
  width: 90%;
  max-width: 100px;
}

.SliderWrapper {
  width: 100%;
  height: 20px;
  position: relative;
}

.SliderWrapper input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  position: absolute;
  top: -7.5px;
  margin: auto;
  background: transparent;
}

.SliderWrapper input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 20px;
  background: white;
  border-radius: 2px;
  outline: 2px solid #2b2e38;
}

.SliderWrapper input[type=range]::-webkit-slider-thumb:hover {
  background: #c8c8c8;
}

.SliderRail {
  width: 100%;
  height: 5px;
  background-color: #bd9008;
  position: relative;
  top: 5px;
  border-radius: 2px;
}

.SliderTrack {
  width: 0%;
  height: 100%;
  position: relative;
  top: 0px;
  background-color: #73bd32;
  border-radius: 2px;
}

.VolumeIndicatorContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  overflow: hidden;
}

.VolumeIndicator {
  height: 100%;
  width: 110%;
  position: relative;
  background-color: black;
  opacity: 50%;
  transition: left 0.05s;
}
