html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.HomeTab .MenuItem {
  text-align: left;
  font-size: small;
  width: 80%;
  max-width: 500px;
  margin: auto;
  height: 20%;
  cursor: default;
}

.HomeTab {
  width: 100%;
  height: 100vh;
}

.HomeTab.hidden {
  display: none;
}

.ConfigTab {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0px;
  background-color: #2b2e38;
}

.ConfigTab .MenuItem {
  text-align: left;
  font-size: small;
  width: 80%;
  max-width: 500px;
  margin: auto;
  height: 20%;
  cursor: default;
}

.MenuItem select {
  width: 90%;
  max-width: 100px;
}

.SliderWrapper {
  width: 100%;
  height: 20px;
  position: relative;
}

.SliderWrapper input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  position: absolute;
  top: -7.5px;
  margin: auto;
  background: transparent;
}

.SliderWrapper input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 20px;
  background: white;
  border-radius: 2px;
  outline: 2px solid #2b2e38;
}

.SliderWrapper input[type=range]::-webkit-slider-thumb:hover {
  background: #c8c8c8;
}

.SliderRail {
  width: 100%;
  height: 5px;
  background-color: #bd9008;
  position: relative;
  top: 5px;
  border-radius: 2px;
}

.SliderTrack {
  width: 0%;
  height: 100%;
  position: relative;
  top: 0px;
  background-color: #73bd32;
  border-radius: 2px;
}

.VolumeIndicatorContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  overflow: hidden;
}

.VolumeIndicator {
  height: 100%;
  width: 110%;
  position: relative;
  background-color: black;
  opacity: 50%;
  transition: left 0.05s;
}

.Settings {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.SettingsContainer {
  width: calc(100% - 38px);
}

.NavBar {
  min-width: 38px;
  min-height: 100%;
  background-color: #202126;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NavBar .Button {
  width: 28px;
  height: 28px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c404a;
  border-radius: 5px;
}

.Button:hover {
  background-color: #4f535e;
}

.Button .ButtonSelected {
  background-color: #5f626b;
}

.Button img {
  width: 18px;
  height: 18px;
}
